* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #889ca3;
    background: #424141 url(fondo.jpg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    max-width: 1000px;
    flex-direction: row;
    flex-wrap: wrap;

}

header {
    color: white;
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    margin-left: 40px;
}

header .menu a {
    text-decoration: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin-right: 40px;
}

header .menu a:hover {
    text-decoration: underline;
}

.main {
   background: #fff;
    padding: 20px;
    width: 70%;
}

.main article .thumb {
    margin-bottom: 20px;
}

.main article .thumb img {
    width: 100%;
    vertical-align: top;
}

.main article h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.main article p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 25px;
}

aside {
    width: 30%;
    background: #537dca;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between

}

aside .ad {
    font-size: 30px;
    color: white;
    padding: 50px 0px;
    text-align: center;
    background: #3e61a1;
}

footer {
    margin: 20px 0;
    background: rgba(255,255,255,.3);
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    text-decoration: none;
    margin-top: 20px;
}

footer .social a {
    margin: 0 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

footer .social a:hover {
    text-decoration: underline;
}

footer .autor {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    aside {
        width: 100%;
        flex-direction: row;
    }

    aside .ad {
        width: 40%;
    }    

    .main {
        width: 100%;
    }

    header {
        flex-direction: column;
        padding-bottom: 20px;
    }

    header .menu {
       width: 100%;
       background: rgba(255,255, 255, 0.3);
       padding: 20px;
         text-align: center;

    }

    footer {
        flex-direction: column;
    }

    .social {
        order: 1;
    }

    .autor {
        order: 2;
    }
}